<form #form="ngForm">
  <div ngModelGroup="todos">
    <div *ngFor="let todo of todos | async; let i = index;" [ngModelGroup]="i">
      <input type="hidden" name="id" [ngModel]="todo.id" />
      <mat-checkbox name="completed" [ngModel]="todo.completed"></mat-checkbox>
      <mat-form-field>
        <input placeholder="Todo name" name="description" [ngModel]="todo.description" matInput>
      </mat-form-field>
      <button type="submit" mat-button (click)="handleClick(i)">Save</button>
    </div>
  </div>
</form>
